/*
Tristan Morse
2/1/18
NM 231
*/

h1 {
    color: white;
    padding-left: 3%;
    padding-right: 3%;
    font-family: sans-serif;
    text-align: center;
}

p {
    color: white;
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 16px;
    font-family: sans-serif;
    line-height: 1.7;
    text-align: center;
}

#menu {
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
    border-style: solid;
    border-color: purple;
    border-width: thick;
}

body {
    background-color: #2f223a;
}

#link {
    text-decoration: none;
    font-size: 20px;
    color: white;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 3%;
    margin-left: 20%;
    margin-right: 20%;
    font-family: sans-serif;
}

#link:hover {
    color: yellow;
    text-decoration: underline;
}

.images {
    width: 32.5%;
    height: 32.5%;
    display: inline-block;
    border-style: solid;
    border-color: purple;
    border-width: thick;
}

.imgTitle {
    text-align: center;
    padding-top: 2%;
    text-decoration: underline;
}