/*
Tristan Morse
Wednesday, March 7th, 2018
NM 231
*/

body {
    background-color: #ccc;
    margin: 0;
    padding: 0;
}

nav {
    background-color: rebeccapurple;
    text-align: center;
    padding: 20px;
}

.pages {
    text-decoration: none;
    color: white;
    border: 1px solid;
    margin: 10px;
    font-size: 30px;
    padding: 5px;
}

.pages:hover {
    color: yellow;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

#container {
    background-color: white;
    width: 600px;
    height: 900px;
    margin: 0 auto;
}

.boxes {
    width: 300px;
    height: 150px;
    float: left;
}

.box1 {
    background-color: rebeccapurple;
}

.box2 {
    background-color: yellow;
}

.box3 {
    background-color: saddlebrown;
}

.box4 {
    background-color: orangered;
}

.box5 {
    background-color: forestgreen;
}

.box6 {
    background-color: cornflowerblue;
}

.box7 {
    background-color: orange;
}

.box8 {
    background-color: rosybrown;
}

.box9 {
    background-color: indigo;
}

.box10 {
    background-color: teal;
}

.box11 {
    background-color: #f79c7a;
}

.box12 {
    background-color: palegreen;
}

.aboutLink {
    padding-bottom: 20px;
}

footer {
    text-align: center;
}